@use "../helpers" as *;

.comparison {
  &__container {
  }

  &__title {
    text-align: center;
    margin-bottom: fluid(40, 80);
  }
  &__body {
    background-color: var(--color-light);
    padding: fluid(0, 60) fluid(16, 60);
    @include small {
      background-color: transparent;
    }
  }
  &__table {
    max-width: rem(1024);
    width: 100%;
    margin: 0 auto;

    thead {
      th {
        font-size: fluid(12, 28);
        text-align: left;
        padding-bottom: rem(16);
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid var(--color-border);
        &:last-child {
          border-bottom: none;
        }
        td:first-child {
          padding-right: rem(30);
        }
      }

      th {
        font-size: fluid(12, 20);
        line-height: 1.6;
        letter-spacing: -0.4px;
        padding: rem(8) 0;
        color: var(--color-text-secondary);
      }
      td {
        font-size: fluid(12, 20);
        line-height: 1.6;
        letter-spacing: -0.4px;
        padding: rem(8) 0;
      }
    }

    td {
    }
  }
}

.checkmark {
  padding-right: rem(8);
  font-weight: 700;
}
.cross {
  padding-right: rem(8);
  font-weight: 700;
}
