@use "../helpers" as *;

.comparison {
  &__container {
  }

  &__title {
    text-align: center;
    margin-bottom: fluid(40, 80);
  }
  &__body {
    overflow: auto;
    background-color: var(--color-light);
    padding: fluid(0, 60) fluid(16, 60);
    @include small {
      background-color: transparent;
      padding: 0;
    }
  }
  &__table {
    max-width: rem(1024);
    width: 100%;
    margin: 0 auto;

    thead {
      th {
        font-size: fluid(12, 28);
        text-align: left;
        padding: rem(8) rem(6);
        font-size: fluid(12, 20);
        line-height: 1.6;
        letter-spacing: -0.4px;
        &.yellow {
          color: var(--color-primary);
        }
        &:not(:first-child) {
          white-space: nowrap;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid var(--color-border);
        &:last-child {
          border-bottom: none;
        }
        td:first-child {
          padding-right: fluid(5, 30);
        }
      }

      td {
        font-size: fluid(12, 20);
        line-height: 1.6;
        letter-spacing: -0.4px;
        padding: rem(8) rem(10);
        &.yellow {
          color: var(--color-primary);
          .cross,
          .checkmark {
            color: var(--color-primary);
          }
        }
      }
    }
  }
}

.checkmark {
  padding-right: rem(8);
  font-weight: 700;
  &_yellow {
    color: var(--color-primary);
  }
}
.cross {
  padding-right: rem(8);
  font-weight: 700;
}
