@use "../helpers" as *;

.contact-form {
  padding-top: 0;
  &_heading {
    padding-top: fluid(80, 200);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      pointer-events: none;
      border-top-left-radius: rem(1920);
      border-top-right-radius: rem(1920);
      max-width: rem(1920);
      width: 100%;
      height: rem(1920);
      z-index: -1;
      background: var(--color-white);
      box-shadow: 0px -30px 40px 0px rgba(225, 225, 225, 0.25);
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__inner {
    padding-top: rem(50);
    background-color: var(--color-secondary);
    border-radius: rem(30);
    padding: fluid(40, 80) fluid(16, 80);

    @include small {
      border-radius: rem(16);
    }

    position: relative;
    &::after {
      pointer-events: none;
      content: "";
      position: absolute;
      width: rem(700);
      height: 100%;
      border-top-left-radius: rem(230);
      top: 0;
      right: 0;
      background-color: rgba(239, 246, 244, 0.1);

      @include large {
        width: 100%;
        border-top-left-radius: 0;
      }
    }
  }

  &__header {
    text-align: center;
    margin-bottom: fluid(20, 40);
    padding: 0 rem(20);

    h2 {
      margin-bottom: rem(16);
    }

    p {
      br {
        display: block !important;
        @include x-small {
          display: none !important;
        }
      }
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    gap: fluid(16, 40);

    @include large {
      flex-direction: column;
    }
  }

  &__content {
    flex: 0 1 rem(424);
    display: flex;
    flex-direction: column;
    row-gap: fluid(16, 24);

    &.blue-flower {
      &::after {
        pointer-events: none;
        top: 0;
        right: 0;
        transform: translateX(70%);
      }
    }

    @include large {
      flex: 0 1 auto;

      @include large {
        text-align: center !important;
        max-width: rem(700);
        margin: 0 auto;
      }
    }

    h3 {
      color: var(--color-white);
      font-weight: 700;
      line-height: 1; /* 100% */
      letter-spacing: -1px;
    }

    p {
      color: var(--color-white);
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: -0.4px;
    }

    img {
      @include large {
        display: none;
      }
    }
  }

  &__form {
    flex: 0 1 rem(480);
    padding-right: rem(60);

    @include large {
      flex: 0 1 auto;
      padding-right: 0;
    }
  }
}
