@use "../helpers/" as *;

.cta {
  @include small {
    padding: 0;
  }
  &__container {
    @include large {
      padding: 0;
    }
  }
  &__body {
    background-color: var(--color-dark-blue);
    border-radius: rem(40);
    padding: fluid(36, 42) fluid(16, 100);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    @include large {
      background-image: none !important;
      text-align: center !important;
      border-radius: 0;
    }
  }
  &__content {
    h2 {
      font-size: fluid(24, 36) !important;
      color: var(--color-white) !important;
      margin-bottom: rem(24);
    }
  }
  &__button {
  }
}
