@use "../helpers" as *;

.hcservices {
  &__container {
    @include medium {
      padding-right: 0;
    }
  }
  &__header {
    text-align: center;
    max-width: rem(895);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(16);
    margin-bottom: fluid(40, 80);
    @include medium {
      padding-right: rem(20);
    }
  }
  &__body {
    position: relative;
    padding: 0 fluid(0, 100);
    @include large {
      padding: 0;
    }
  }
  &__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 27%;
    left: 0;
    pointer-events: none;
    z-index: 2;
    @include large {
      display: none;
    }
  }
  &__navigation-button {
    pointer-events: auto;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2260%22%20height%3D%2260%22%20viewBox%3D%220%200%2060%2060%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2230%22%20cy%3D%2230%22%20r%3D%2230%22%20fill%3D%22%23FFBC02%22%2F%3E%3Cg%20clip-path%3D%22url(%23clip0_322_1928)%22%3E%3Cpath%20d%3D%22M34.0987%2029.9805C34.0842%2029.8172%2034.0173%2029.6626%2033.9075%2029.5391L27.5918%2022.3797C27.525%2022.2991%2027.4423%2022.2325%2027.3487%2022.1838C27.2551%2022.1352%2027.1525%2022.1056%2027.0469%2022.0966C26.9414%2022.0877%2026.8351%2022.0997%2026.7343%2022.1318C26.6336%2022.164%2026.5405%2022.2158%2026.4606%2022.284C26.3807%2022.3521%2026.3156%2022.4354%2026.2692%2022.5288C26.2228%2022.6221%2026.1961%2022.7237%2026.1905%2022.8274C26.185%2022.9312%2026.2008%2023.0349%2026.2371%2023.1325C26.2733%2023.2301%2026.3292%2023.3196%2026.4014%2023.3956L32.2669%2030.047L26.4014%2036.6984C26.3292%2036.7744%2026.2733%2036.8639%2026.2371%2036.9615C26.2008%2037.0591%2026.185%2037.1628%2026.1905%2037.2665C26.1961%2037.3703%2026.2228%2037.4718%2026.2692%2037.5652C26.3156%2037.6586%2026.3807%2037.7418%2026.4606%2037.81C26.5405%2037.8782%2026.6336%2037.93%2026.7343%2037.9621C26.8351%2037.9943%2026.9414%2038.0063%2027.0469%2037.9974C27.1525%2037.9884%2027.2551%2037.9588%2027.3487%2037.9101C27.4423%2037.8615%2027.525%2037.7949%2027.5918%2037.7143L33.9075%2030.5549C33.977%2030.4766%2034.0298%2030.3854%2034.0626%2030.2867C34.0955%2030.1881%2034.1078%2030.0839%2034.0987%2029.9805Z%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_322_1928%22%3E%3Crect%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%20transform%3D%22translate(18%2018)%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: rem(60);
    height: rem(60);
    transition: all 0.3s ease;
    @include hover {
      opacity: 0.7;
    }
    &_prev {
      transform: rotate(180deg);
    }

    &.swiper-button-disabled {
      opacity: 0.2;
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: rem(40);
    display: none;

    @include large {
      display: flex;
    }

    .swiper-pagination-bullet {
      opacity: 1;
      border: rem(2) solid var(--color-primary);
      width: rem(8);
      height: rem(8);
      background-color: var(--color-white);
    }
    .swiper-pagination-bullet-active {
      background-color: var(--color-primary);
    }
  }
  &__link-wrapper {
    margin-top: rem(40);
    display: flex;
    justify-content: center;
  }
  &__link {
  }
  &__slider {
    overflow: hidden;
  }
}

.hcservices-slide {
  position: relative;
  padding-top: rem(40);
  display: flex;
  flex-direction: column;
  row-gap: fluid(20, 40);
  height: auto;
  p {
    flex-grow: 1;
    height: 100%;
    line-height: 1.6;
    @include small {
      line-height: 1.4;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: rem(14);
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22480%22%20height%3D%2215%22%20viewBox%3D%220%200%20480%2015%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M0%207.02919C9.10814%20-2.07892%2023.7153%20-2.33548%2033.1338%206.25868H480V7.25868H33.7061C24.3162%2016.3999%209.29504%2016.3242%200%207.02919ZM32.4922%207.02919C23.7177%20-1.00819%2010.2214%20-1.00873%201.44727%207.02919C10.2214%2015.0671%2023.7177%2015.0666%2032.4922%207.02919Z%22%20fill%3D%22%23FFBC02%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: left;
  }
  &__image {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: rem(16);
    @include x-small {
      height: rem(200);
    }
  }
}
