@use "../helpers" as *;

.header {
  --header-height: #{rem(106)};
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;

  &_transparent {
    background-color: transparent;
    box-shadow: none;
  }

  &.is-scroll {
    background-color: var(--color-white);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  }

  @include small {
    --header-height: #{rem(70)};
  }

  @include x-small {
    &.is-active {
      .header__logo {
        display: none;
        &_mobile {
          display: block;
        }
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: rem(1600) !important;
    column-gap: rem(24);
    height: var(--header-height);
  }
  &__logo-wrapper {
    max-width: fluid(120, 262);
    z-index: 1000;
    height: rem(78);

    @include x-large {
      max-width: rem(160);
    }

    @include x-small {
      max-width: rem(130);
    }
  }
  &__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    &_mobile {
      display: none;
    }
  }

  &__nav-list {
    display: flex;
    column-gap: fluid(10, 24);
    align-items: center;
    @include large {
      display: none;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;
    &.menu-item-has-children {
      position: relative;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          & > ul {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          }
          & > a:before {
            background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20class%3D%22icon%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23000000%22%3E%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%3Cpath%20d%3D%22M903.232%20256l56.768%2050.432L512%20768%2064%20306.432%20120.768%20256%20512%20659.072z%22%20fill%3D%22%23009fb7%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
            transform: rotate(-180deg);
          }
        }
      }

      & > a {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        column-gap: rem(6);
        padding-block: rem(6);
        &::before {
          flex-shrink: 0;
          content: "";
          width: rem(12);
          height: rem(12);
          background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20class%3D%22icon%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23000000%22%3E%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%3Cpath%20d%3D%22M903.232%20256l56.768%2050.432L512%20768%2064%20306.432%20120.768%20256%20512%20659.072z%22%20fill%3D%22%23009fb7%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          transition: transform 0.3s ease;

          @media (max-width: rem(991.98)) {
            background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20stroke-width%3D%220%22%2F%3E%3Cg%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M5.707%209.71a1%201%200%200%200%200%201.415l4.892%204.887a2%202%200%200%200%202.828%200l4.89-4.89a1%201%200%201%200-1.414-1.415l-4.185%204.186a1%201%200%200%201-1.415%200L7.121%209.71a1%201%200%200%200-1.414%200%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
          }
        }
      }

      ul {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        border-radius: 5px;
        min-width: 250px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        pointer-events: none;

        @media (max-width: rem(991.98)) {
          position: static;
          overflow: hidden;
          max-height: 0;
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          box-shadow: none !important;
          background-color: transparent;
          min-width: 100%;
          text-align: center;
        }

        li {
          padding: rem(5) rem(12);
          &:first-child {
            padding-top: rem(12);
          }
          &:last-child {
            padding-bottom: rem(12);
          }
          @media (max-width: rem(991.98)) {
            padding: rem(4) 0;
            &:first-child {
              padding-top: rem(12);
            }
            &:last-child {
              padding-bottom: rem(12);
            }
          }
        }
        a {
          font-size: rem(18);
          transition: color 0.3s ease;

          &:hover {
            color: var(--primary);
            text-decoration: none;
            color: var(--color-primary);
          }

          @media (max-width: rem(991.98)) {
            color: #fff;
            &:hover {
              color: #fff;
            }
          }
        }
      }
      &.is-active {
        & > ul {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        }
        & > a:before {
          @media (min-width: rem(992)) {
            background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20class%3D%22icon%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23000000%22%3E%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%3Cpath%20d%3D%22M903.232%20256l56.768%2050.432L512%20768%2064%20306.432%20120.768%20256%20512%20659.072z%22%20fill%3D%22%23009fb7%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
          }
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__nav-link {
    color: var(--color-secondary);
    text-align: center;
    font-size: rem(18);
    font-weight: 700;
    line-height: 1.22;
    transition: color 0.3s ease;
    white-space: nowrap;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      top: calc(100% + 2px);
      left: 0;
      background-color: var(--color-secondary);
      transition: width 0.3s ease;
    }
    @include hover {
      &::after {
        width: 100%;
      }
    }
    &:active {
      color: var(--color-primary);
    }
  }
  &__actions {
    display: flex;
    column-gap: rem(16);
    align-items: center;
    @include large {
      display: none;
    }
  }
  &__phone {
    color: var(--color-primary);
    font-size: rem(20);
    font-weight: 700;
    line-height: 1.2;
    transition: color 0.3s ease;
    position: relative;

    @include large {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      top: calc(100% + 2px);
      left: 0;
      background-color: var(--color-primary);
      transition: width 0.3s ease;
    }
    @include hover {
      &::after {
        width: 100%;
      }
    }
  }
  &__link {
    @include large {
      display: none;
    }
  }
  &__button {
    width: rem(45);
    height: rem(45);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: rem(4);
    transition: all 0.3s ease;
    display: none;
    z-index: 1000;

    @include large {
      display: flex;
    }

    span {
      transition: all 0.3s ease;
      border-radius: 100px;
      height: rem(3);
      background-color: var(--color-secondary);
      width: rem(27);
    }

    &.is-active {
      span {
        background-color: var(--color-white);
        &:nth-child(1) {
          transform: rotate(45deg) translate(4px, 5px);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
    @include hover {
      opacity: 0.7;
    }
  }
}

.header-overlay {
  z-index: 999;
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow: auto;
  max-width: rem(400);
  top: 0;
  right: -100%;
  transition: all 0.3s ease;
  background-color: var(--color-secondary);
  padding: calc(var(--header-height)) rem(24) rem(24) rem(24);
  display: none;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;

  @include x-small {
    max-width: 100%;
  }

  @include large {
    display: block;
    &.is-active {
      right: 0;
    }
  }

  &__nav {
    padding-top: rem(20);
  }
  &__nav-list {
    display: flex;
    flex-direction: column;
    row-gap: rem(24);
  }
  &__nav-item {
    &.menu-item-has-children {
      position: relative;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          & > ul {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          }
          & > a:before {
            background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20class%3D%22icon%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23000000%22%3E%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%3Cpath%20d%3D%22M903.232%20256l56.768%2050.432L512%20768%2064%20306.432%20120.768%20256%20512%20659.072z%22%20fill%3D%22%23009fb7%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
            transform: rotate(-180deg);
          }
        }
      }

      & > a {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        column-gap: rem(6);

        @media (max-width: rem(991.98)) {
          justify-content: flex-end;
        }
        &::before {
          flex-shrink: 0;
          content: "";
          width: rem(18);
          height: rem(18);
          background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20class%3D%22icon%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23000000%22%3E%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%3Cpath%20d%3D%22M903.232%20256l56.768%2050.432L512%20768%2064%20306.432%20120.768%20256%20512%20659.072z%22%20fill%3D%22%23009fb7%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          transition: transform 0.3s ease;

          @media (max-width: rem(991.98)) {
            background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20stroke-width%3D%220%22%2F%3E%3Cg%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M5.707%209.71a1%201%200%200%200%200%201.415l4.892%204.887a2%202%200%200%200%202.828%200l4.89-4.89a1%201%200%201%200-1.414-1.415l-4.185%204.186a1%201%200%200%201-1.415%200L7.121%209.71a1%201%200%200%200-1.414%200%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
          }
        }
      }

      ul {
        @media (max-width: rem(991.98)) {
          position: static;
          overflow: hidden;
          max-height: 0;
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          box-shadow: none !important;
          background-color: transparent;
          min-width: 100%;
          text-align: center;
        }

        li {
          padding: rem(5) rem(12);
          text-align: left;
          &:first-child {
            padding-top: rem(12);
          }
          &:last-child {
            padding-bottom: rem(12);
          }
          @media (max-width: rem(991.98)) {
            padding: rem(4) 0;
            &:first-child {
              padding-top: rem(12);
            }
            &:last-child {
              padding-bottom: rem(12);
            }
          }
        }
        a {
          font-size: rem(18);
          transition: color 0.3s ease;

          &:hover {
            color: var(--primary);
            text-decoration: none;
            color: var(--color-primary);
          }

          @media (max-width: rem(991.98)) {
            color: #fff;
            &:hover {
              color: #fff;
            }
          }
        }
      }
      &.is-active {
        & > ul {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        }
        & > a:before {
          @media (min-width: rem(992)) {
            background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20class%3D%22icon%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23000000%22%3E%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%3Cpath%20d%3D%22M903.232%20256l56.768%2050.432L512%20768%2064%20306.432%20120.768%20256%20512%20659.072z%22%20fill%3D%22%23009fb7%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
          }
          transform: rotate(-180deg);
        }
      }
    }
  }
  &__nav-link {
    color: var(--color-white);
    font-size: rem(24);
    font-weight: 700;
    line-height: 1.33;
    transition: all 0.3s ease;
    padding-block: rem(8);

    @include hover {
      color: var(--color-primary);
    }
  }
  &__footer {
    padding-top: rem(23);
    margin-top: rem(23);
    border-top: rem(1) solid var(--color-border);
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
  }
  &__contact-title {
    color: var(--color-white);
    font-size: rem(20);
    font-weight: 700;
    line-height: 1.37;
    margin-bottom: rem(8);
  }
  &__contact {
    address {
      font-style: normal;
      display: flex;
      flex-direction: column;
      row-gap: rem(16);
      p {
        color: var(--color-white) !important;
        font-size: rem(16);
        line-height: 1.37;
        margin: 0 !important;
      }
    }
  }
  &__phone {
    color: var(--color-white);
    font-size: rem(24);
    font-weight: 700;
    line-height: 1.33;
    transition: color 0.3s ease;
    @include hover {
      color: var(--color-primary);
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    column-gap: rem(24);
  }
  &__social-link {
    transition: opacity 0.3s ease;
    @include hover {
      opacity: 0.7;
    }
    img {
      width: rem(24);
      height: rem(24);
      object-fit: contain;
    }
  }
}
