@use "../helpers/" as *;

.hero {
  padding-top: fluid(135, 235);
  padding-bottom: rem(244);
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: fluid(0, 60);
  @include large {
    background-size: 55%;
  }
  @include small {
    background-size: 86%;
    margin-bottom: 0;
  }
  &__content {
    max-width: 51%;
    @include large {
      max-width: 100%;
    }
    @include small {
      text-align: center !important;
    }
    p {
      font-size: fluid(24, 40);
      margin-bottom: 0;
      line-height: 1.3;
    }
  }
  &__bottom {
    margin-top: rem(32);
    display: flex;
    column-gap: rem(30);
    align-items: flex-start;
    @include small {
      flex-direction: column;
    }
    .button {
      flex-shrink: 0;
    }
    svg {
      position: absolute;
      bottom: 0;
      right: 0;
      width: rem(60);
      height: rem(60);
    }
  }
  &__bottom-text {
    position: relative;
    margin-top: rem(30);
    border-top-right-radius: rem(60);
    padding: rem(24);
    background-color: var(--color-primary);
    max-width: rem(580);
    width: 100%;

    @include small {
      margin-top: rem(60);
    }

    p {
      font-size: fluid(24, 30) !important;
    }
  }
}
