@use "../helpers" as *;

.play-button {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2249%22%20height%3D%2248%22%20viewBox%3D%220%200%2049%2048%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2224.5%22%20cy%3D%2224%22%20r%3D%2218%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M30.1569%2024.5226L19.5291%2029.9191C19.4248%2029.9721%2019.3065%2030%2019.1861%2030C19.0656%2030%2018.9473%2029.9721%2018.843%2029.9192C18.7387%2029.8662%2018.6521%2029.79%2018.5919%2029.6983C18.5317%2029.6065%2018.5%2029.5025%2018.5%2029.3965V18.6035C18.5%2018.4975%2018.5317%2018.3935%2018.5919%2018.3017C18.6521%2018.21%2018.7387%2018.1338%2018.843%2018.0808C18.9473%2018.0279%2019.0656%2018%2019.1861%2018C19.3065%2018%2019.4248%2018.0279%2019.5291%2018.0809L30.1569%2023.4774C30.2612%2023.5304%2030.3478%2023.6065%2030.408%2023.6983C30.4683%2023.79%2030.5%2023.8941%2030.5%2024C30.5%2024.1059%2030.4683%2024.21%2030.408%2024.3017C30.3478%2024.3935%2030.2612%2024.4696%2030.1569%2024.5226Z%22%20fill%3D%22%23FFBC02%22%2F%3E%3Ccircle%20cx%3D%2224.5%22%20cy%3D%2224%22%20r%3D%2223.7934%22%20stroke%3D%22%23FFBC02%22%20stroke-width%3D%220.413223%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: fluid(64, 92);
  height: fluid(64, 92);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
  @include hover {
    transform: scale(1.1) translate(-45%, -45%);
  }
}