@use "../helpers" as *;

.providers {
  &__container {
  }

  &__header {
    text-align: center;
    max-width: rem(1000);
    margin: 0 auto fluid(40, 80) auto;
    h2 {
      margin-bottom: rem(24);
    }
  }

  &__body {
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    column-gap: rem(40);
    justify-content: space-between;
    padding: fluid(24, 40) 0;
    border-bottom: rem(1) solid var(--color-border);
    &:first-child {
      border-top: rem(1) solid var(--color-border);
    }

    @include medium {
      flex-direction: column;
      align-items: flex-start;
      row-gap: rem(24);
    }
  }

  &__item-image {
    flex: 0 1 rem(411);

    @include medium {
      flex: 0 1 auto;
      max-width: rem(411);
    }
    img {
    }
  }

  &__content {
    max-width: rem(607);
    display: flex;
    flex-direction: column;

    @include medium {
      max-width: 100%;
    }

    h3 {
      margin-bottom: rem(16);
      font-size: fluid(20, 32);
    }
    a.action-link {
      margin-top: rem(24);
    }
  }
}
