@use "../helpers" as *;

.rows {
  &__container {
  }
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(24) rem(40);
  @include medium {
    flex-direction: column;
  }
  &_reverse {
    flex-direction: row-reverse;
    @include medium {
      flex-direction: column;
    }
  }
  &:not(:last-child) {
    margin-bottom: fluid(40, 120);
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
    flex: 0 1 rem(610);
    @include medium {
      flex: 0 1 100%;
    }
    ul li {
      list-style-type: disc;
      list-style-position: inside;
      color: var(--color-secondary);
    }
  }
  &__image {
    position: relative;
    flex: 0 1 rem(740);
    @include medium {
      flex: 0 1 100%;
    }
  }
}
