@use "../helpers" as *;
.services-hero {
  padding-top: fluid(40, 80);
  display: flex;
  flex-direction: column;
  &__content {
    padding: 0 rem(20);
    z-index: 2;
    position: relative;
  }
  &__title {
    text-align: center;
    font-weight: 400;

    strong {
      font-weight: 700;
    }
  }
  &__image {
    margin-top: rem(-90);
    width: 100%;
    height: auto;

    @include x-large {
      margin-top: 0;
    }

    @include x-small {
      display: none;
    }

    &_mobile {
      margin-top: rem(-60);
      width: 100%;
      @include above-x-small {
        display: none;
      }
    }
  }
}
