@use "../helpers" as *;

.serve-areas {
  &__container {
    display: flex;
    gap: fluid(24, 40);
    @include large {
      flex-direction: column;
    }
  }
  &__header {
    flex: 0 0 rem(480);
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
    @include large {
      flex: 0 1 100%;
    }
  }
  &__list {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(8) fluid(8, 40);
    @include large {
      flex: 0 1 100%;
    }
    @include small {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }
  &__item {
    border-radius: rem(16);
    border: rem(1) solid var(--color-border);
    background: var(--color-light);
    padding: rem(22);
    text-align: center;
    @include small {
      border-radius: 0;
    }
  }
}
