@use "helpers" as *;

body {
  font-family: var(--font-family-base);
  font-size: fluid(18, 20);
  color: var(--color-secondary);
  line-height: 1.2;
  letter-spacing: -0.3px;
}
.wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
  }
}

h1, .h1, //
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-family-base);
  font-weight: 700;
  line-height: 1;
  color: var(--color-secondary);
}

h1,
.h1 {
  font-size: fluid(56, 120);
}
h2,
.h2 {
  font-size: fluid(40, 80);
}
h3,
.h3 {
  font-size: fluid(28, 50);
}
h4,
.h4 {
  font-size: fluid(20, 32);
}

main {
}

a:not([class]) {
  transition: color 0.3s ease;
  @include hover {
    color: var(--color-secondary);
  }
}

p {
  line-height: 1.5;
  color: var(--color-secondary);
  font-size: fluid(16, 20);
}

p:not([class]):not(:last-of-type) {
  margin-bottom: rem(16);
}



@include medium {
  br {
    display: none;
  }
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding-x);
  margin: 0 auto;
}
