@use "helpers" as *;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.inline-icon {
  --size: #{rem(30)};
  --gap: #{rem(10)};

  display: inline-flex;
  align-items: center;
  column-gap: var(--gap);

  &::after {
    // background-image: url(""); // inline svg

    width: var(--size);
    height: var(--size);
    content: "";
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.big-title {
  font-size: fluid(60, 200);
  color: var(--color-light-100);
  text-align: center;
  font-weight: 700;
  line-height: 1;
}

.section {
  padding-block: fluid(40, 90);

  &--mb {
    margin-bottom: fluid(40, 90);
  }
}

.above-footer-title {
  display: block;
  margin-bottom: fluid(20, 40);
}

.under-front-hero {
  padding-bottom: fluid(40, 80);
  p {
    text-align: center;
  }
  @include above-small {
    display: none;
  }
}

.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.current-menu-item a {
  color: var(--color-primary);
}

.blue-flower {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%20viewBox%3D%220%200%20133%20133%22%20fill%3D%22none%22%3E%3Cmask%20id%3D%22mask0_212_1002%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22133%22%20height%3D%22133%22%3E%3Cpath%20d%3D%22M0.00228727%20104.32C7.72115%2075.5127%2037.3313%2058.4173%2066.1385%2066.1361C58.4197%2094.9433%2028.8095%20112.039%200.00228727%20104.32Z%22%20fill%3D%22%23D9D9D9%22%2F%3E%3Cpath%20d%3D%22M66.1371%2066.1363C73.8559%2037.3291%20103.466%2020.2337%20132.273%2027.9525C124.554%2056.7597%2094.9442%2073.8552%2066.1371%2066.1363Z%22%20fill%3D%22%23D9D9D9%22%2F%3E%3Cpath%20d%3D%22M66.1371%2066.1363C73.8559%2037.3291%2056.7605%207.71895%2027.9533%209.0003e-05C20.2344%2028.8073%2037.3299%2058.4175%2066.1371%2066.1363Z%22%20fill%3D%22%23D9D9D9%22%2F%3E%3Cpath%20d%3D%22M104.323%20132.272C112.041%20103.465%2094.946%2073.8547%2066.1388%2066.1358C58.42%2094.943%2075.5154%20124.553%20104.323%20132.272Z%22%20fill%3D%22%23D9D9D9%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23mask0_212_1002)%22%3E%3Crect%20x%3D%2227.5469%22%20y%3D%220.236328%22%20width%3D%22108.664%22%20height%3D%22108.664%22%20transform%3D%22rotate(15%2027.5469%200.236328)%22%20fill%3D%22%232EB1C5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    width: rem(108);
    height: rem(108);

    @include large {
      display: none;
    }
  }
}

.yellow-flower {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20148%20148%22%20fill%3D%22none%22%3E%3Cmask%20id%3D%22mask0_181_1621%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22148%22%20height%3D%22148%22%3E%3Cpath%20d%3D%22M0.00195312%2093.531C14.9136%2067.7032%2047.9395%2058.8539%2073.7673%2073.7656C58.8556%2099.5934%2025.8298%20108.443%200.00195312%2093.531Z%22%20fill%3D%22%23D9D9D9%22%2F%3E%3Cpath%20d%3D%22M73.7656%2073.7654C88.6773%2047.9376%20121.703%2039.0883%20147.531%2054C132.619%2079.8278%2099.5934%2088.6771%2073.7656%2073.7654Z%22%20fill%3D%22%23D9D9D9%22%2F%3E%3Cpath%20d%3D%22M73.7656%2073.7654C88.6773%2047.9376%2079.8281%2014.9117%2054.0003%200C39.0886%2025.8278%2047.9378%2058.8537%2073.7656%2073.7654Z%22%20fill%3D%22%23D9D9D9%22%2F%3E%3Cpath%20d%3D%22M93.5332%20147.531C108.445%20121.703%2099.5956%2088.6773%2073.7678%2073.7656C58.8561%2099.5934%2067.7054%20132.619%2093.5332%20147.531Z%22%20fill%3D%22%23D9D9D9%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23mask0_181_1621)%22%3E%3Crect%20x%3D%2253.5469%22%20y%3D%220.123047%22%20width%3D%22108.664%22%20height%3D%22108.664%22%20transform%3D%22rotate(30%2053.5469%200.123047)%22%20fill%3D%22%23FFBC02%22%20fill-opacity%3D%220.4%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    width: rem(108);
    height: rem(108);

    @include large {
      display: none;
    }
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
