@use "helpers" as *;

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light: #FFF5E5;
  --color-gray: #F7F5EE;
  --color-dark-blue: #111747;
  --color-primary: #ffbc02;
  --color-secondary: #009fb7;

  --font-family-base: "DroidSans", sans-serif;
  --font-family-accent: "Baskervville", serif;

  --container-width: #{rem(1712)};
  --container-padding-x: #{rem(16)};
}
