@use "helpers" as *;

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light: #f2fafb;
  --color-light-100: #e5f5f8;
  --color-gray: #f7f5ee;
  --color-dark-blue: #111747;
  --color-primary: #ffbc02;
  --color-secondary: #009fb7;
  --color-border: #c2e8ed;

  --font-family-base: "DroidSans", sans-serif;
  --font-family-accent: "Baskervville", serif;

  --container-width: #{rem(1556)};
  --container-padding-x: #{rem(16)};
}
