<footer class="footer section">
  <div class="footer__container container">
    <div class="footer__main">
      <img src="/images/logo.webp" alt="" class="footer__logo" />
      <ul class="footer__socials-list">
        <li class="footer__socials-item">
          <a href="#" class="footer__socials-link">
            <img src="/images/facebook.svg" alt="" class="footer__socials-icon" />
          </a>
        </li>
        <li class="footer__socials-item">
          <a href="#" class="footer__socials-link">
            <img src="/images/G.svg" alt="" class="footer__socials-icon" />
          </a>
        </li>
        <li class="footer__socials-item">
          <a href="#" class="footer__socials-link">
            <img src="/images/facebook.svg" alt="" class="footer__socials-icon" />
          </a>
        </li>
        <li class="footer__socials-item">
          <a href="#" class="footer__socials-link">
            <img src="/images/facebook.svg" alt="" class="footer__socials-icon" />
          </a>
        </li>
        <li class="footer__socials-item">
          <a href="#" class="footer__socials-link">
            <img src="/images/facebook.svg" alt="" class="footer__socials-icon" />
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__copyright">
      <p>Golden Care Home Health  •  1917 Trade Center Way Ste. 2, Naples, FL 34109 • HHA LICENSE 299994207</p>
    </div>
  </div>
</footer>
