<span class="big-title above-footer-title">Contact Us Today</span>
<footer class="footer">
  <div class="footer__body">
    <div class="footer__container container">
      <div class="footer__content">
        <div class="footer__left footer-left" id="footer-left">
          <h2 class="footer-left__title">Join the Golden Care Family!</h2>
          <img src="/images/footer.webp" alt="" loading="lazy" class="footer-left__image" />
          <div class="footer-left__nav">
            <div class="footer-left__nav-inner" id="footer-nav-inner">
              <h3 class="footer-left__nav-title footer-title">Site Navigation</h3>
              <nav class="footer-left__nav-body" id="nav-body">
                <ul class="footer-left__nav-list">
                  <li class="footer-left__nav-item"><a href="/about" class="footer-left__nav-link">Home</a></li>
                  <li class="footer-left__nav-item"><a href="/services" class="footer-left__nav-link">About us</a></li>
                  <li class="footer-left__nav-item">
                    <a href="/contact" class="footer-left__nav-link">Our services</a>
                  </li>
                  <li class="footer-left__nav-item"><a href="/blog" class="footer-left__nav-link">Careers</a></li>
                  <li class="footer-left__nav-item"><a href="/blog" class="footer-left__nav-link">Blog</a></li>
                  <li class="footer-left__nav-item"><a href="/blog" class="footer-left__nav-link">Events</a></li>
                  <li class="footer-left__nav-item"><a href="/blog" class="footer-left__nav-link">Contact Us</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <a href="#" aria-label="Home" class="footer-left__logo-link" data-da="#footer-nav-inner,1199.98,first">
            <img src="/images/logo-white.webp" alt="" loading="lazy" class="footer-left__logo" />
          </a>
        </div>
        <div class="footer__right footer-right">
          <div class="footer-right__form" data-da="#footer-left,1199.98,2">
            <div class="footer-right__form-title-wrapper">
              <h3 class="footer-right__form-title">Request a Callback</h3>
              <img src="/images/svg/flower.svg" alt="" loading="lazy" class="footer-right__form-title-dec" />
            </div>
            <div class="footer-right__form-body">
              <script type="text/javascript" src="https://form.jotform.com/jsform/251462022865151"></script>
            </div>
            <img src="/images/svg/flower.svg" alt="" loading="lazy" class="footer-right__form-dec" />
          </div>
          <div class="footer-right__contact" data-da="#nav-body,767.98,2">
            <h3 class="footer-right__contact-title footer-title">Contact Us</h3>
            <div class="footer-right__contact-body">
              <address class="footer-right__contact-address">1917 Trade Center Way Ste. 2, Naples, FL 34109</address>
              <div class="footer-right__contact-info">
                <a href="#" class="footer-right__contact-phone">(239) 440-2900</a>
                <span class="footer-right__contact-available">Available 24/7</span>
              </div>
              <div class="footer-right__contact-socials">
                <a href="#" class="footer-right__contact-social-link">
                  <img
                    src="/images/svg/linkedin.svg"
                    alt="linkedin"
                    loading="lazy"
                    class="footer-right__contact-social-icon"
                  />
                </a>
                <a href="#" class="footer-right__contact-social-link">
                  <img
                    src="/images/svg/facebook.svg"
                    alt="Facebook"
                    loading="lazy"
                    class="footer-right__contact-social-icon"
                  />
                </a>
                <a href="#" class="footer-right__contact-social-link">
                  <img
                    src="/images/svg/insta.svg"
                    alt="Instagram"
                    loading="lazy"
                    class="footer-right__contact-social-icon"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__bottom-left">
          <p>
            <a href="#">Privacy Policy</a>
          </p>
        </div>
        <div class="footer__bottom-right">
          <p>© 2025 Golden Care Home Care Website by <a href="#" target="_blank">Curis Digital</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
