<div id="form-modal" aria-hidden="true" class="form-modal modal" role="dialog" aria-labelledby="form-modal-title">
  <div tabindex="-1" data-micromodal-close class="form-modal__body modal__body">
    <div class="form-modal__inner modal__inner" data-lenis-prevent>
      <div class="form-modal__content modal__content">
        <button class="form-modal__close modal__close" type="button" data-micromodal-close aria-label="Close Modal">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
        <div class="form-modal__form">
          <h2 class="form-modal__form-title" id="form-modal-title">Get in Touch!</h2>
          <script type="text/javascript" src="https://form.jotform.com/jsform/251462022865151"></script>
        </div>
      </div>
    </div>
  </div>
</div>
