<header class="header" data-js-header id="top">
  <div class="header__container container">
    <a href="/" class="header__logo-wrapper" aria-label="Home">
      <img src="/images/logo.webp" alt="Logo" class="header__logo" />
      <img src="/images/logo-white.webp" alt="Logo" class="header__logo header__logo_mobile" />
    </a>
    <nav class="header__nav" role="navigation" aria-label="Main navigation">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">About Us</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Our Services</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Careers</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Resources</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="header__actions">
      <a href="tel:1111" class="header__phone" aria-label="Call us">(239) 440-2900</a>
      <a href="#" class="header__link button">Contact Us</a>
    </div>

    <button
      data-js-header-trigger-button
      class="header__button"
      type="button"
      aria-label="Toggle menu"
      aria-expanded="false"
      aria-controls="header-overlay"
      id="menu-toggle"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div
      id="header-overlay"
      class="header__overlay header-overlay"
      aria-labelledby="menu-toggle"
      style="background-image: url(&quot;/images/header-bg.webp&quot;)"
      data-js-header-overlay
    >
      <nav class="header-overlay__nav" role="navigation" aria-label="Mobile navigation">
        <ul class="header-overlay__nav-list">
          <li class="header-overlay__nav-item">
            <a href="#" class="header-overlay__nav-link">About Us</a>
          </li>
          <li class="header-overlay__nav-item">
            <a href="#" class="header-overlay__nav-link">Our Services</a>
          </li>
          <li class="header-overlay__nav-item">
            <a href="#" class="header-overlay__nav-link">Careers</a>
          </li>
          <li class="header-overlay__nav-item">
            <a href="#" class="header-overlay__nav-link">Resources</a>
          </li>
          <li class="header-overlay__nav-item">
            <a href="#" class="header-overlay__nav-link">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="header-overlay__footer">
        <div class="header-overlay__contact">
          <h2>Contact Us</h2>
          <address>
            <p>
              1917 Trade Center Way <br />
              Ste. 2, Naples, FL 34109
            </p>
            <p>
              24 Hours Per Day, 7 <br />
              Days a week
            </p>
          </address>
        </div>
        <a href="#" class="header-overlay__phone">(239) 440-2900</a>
        <div class="header-overlay__socials">
          <a href="#" class="header-overlay__social-link">
            <img src="/images/svg/linkedin.svg" alt="Linkedin" />
          </a>
          <a href="#" class="header-overlay__social-link">
            <img src="/images/svg/facebook.svg" alt="Facebook" />
          </a>
          <a href="#" class="header-overlay__social-link">
            <img src="/images/svg/insta.svg" alt="Instagram" />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
