<div id="member-modal" aria-hidden="true" class="member-modal modal" role="dialog" aria-labelledby="modal-1-title">
  <div tabindex="-1" data-micromodal-close class="member-modal__body modal__body">
    <div class="member-modal__inner modal__inner" data-lenis-prevent>
      <div class="member-modal__content modal__content">
        <button class="member-modal__close modal__close" type="button" data-micromodal-close aria-label="Close Modal">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
        <div class="member-modal__info" data-modal-slot></div>
      </div>
    </div>
  </div>
</div>
